## K Nearest Neighbors - KNN Python Lecture

Hi Guys,<br>

Welcome to the K Nearest Neighbors with Python lecture. <br>

After the theory lecture, its time to learn by doing. <br>
Let's create a situation here, this time you got the data which is highly confidential! <br>
Your client does not want to disclose the hidden features (dimensions). All the features are coded with some numbers. So far, based on the combination of different feature's code, your client makes the decisions.<br>
Data is growing and your client wants to automate the process. You are give a task to use the coded data along with the target class in 'Results' column and help your client in decision making. <br>
You decide to go with the KNN and create a model that predicts the target class for the new customers. <br>
**Great, let's explore!**<br>

First thing first, let's imports the libraries that we need!

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
#%matplotlib inline

# Lines below are just to ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("Coded_Data.csv")
df

,Unnamed: 0,Cd_1,Cd_2,Cd_3,Cd_4,Cd_5,Cd_6,Cd_7,Cd_8,Cd_9,Cd_10,Result
0,1,53.1,63.4,33.0,46.2,47.3,21.2,44.3,36.1,46.6,65.0,Y
1,2,36.9,54.7,31.1,50.5,56.0,38.9,39.4,56.8,33.0,78.8,N
2,3,41.9,65.5,53.5,52.3,92.5,43.2,94.9,64.7,50.8,67.9,N
3,4,71.7,75.6,37.9,50.5,69.2,52.5,82.3,77.3,80.8,60.9,Y
4,5,74.3,51.8,36.4,40.9,74.7,42.2,65.1,36.2,77.6,74.9,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,58.7,56.4,49.5,38.1,62.8,35.2,43.6,17.9,59.3,71.2,Y
996,997,33.4,52.1,54.7,48.5,85.7,76.2,61.6,40.0,50.8,87.8,N
997,998,66.0,53.6,45.4,56.1,54.6,53.1,22.6,21.8,48.8,73.2,Y
998,999,63.0,47.0,23.6,40.7,97.5,56.6,50.0,59.4,67.7,62.7,Y
999,1000,48.6,52.4,24.2,48.9,56.6,25.5,45.4,50.9,66.7,72.1,Y

In our dataframe, the first column looks like the index, let's set `index_col = 0`

In [4]:
df = df.drop('Unnamed: 0',axis=1)
df

     Cd_1  Cd_2  Cd_3  Cd_4  Cd_5  Cd_6  Cd_7  Cd_8  Cd_9  Cd_10 Result
0    53.1  63.4  33.0  46.2  47.3  21.2  44.3  36.1  46.6   65.0      Y
1    36.9  54.7  31.1  50.5  56.0  38.9  39.4  56.8  33.0   78.8      N
2    41.9  65.5  53.5  52.3  92.5  43.2  94.9  64.7  50.8   67.9      N
3    71.7  75.6  37.9  50.5  69.2  52.5  82.3  77.3  80.8   60.9      Y
4    74.3  51.8  36.4  40.9  74.7  42.2  65.1  36.2  77.6   74.9      Y
..    ...   ...   ...   ...   ...   ...   ...   ...   ...    ...    ...
995  58.7  56.4  49.5  38.1  62.8  35.2  43.6  17.9  59.3   71.2      Y
996  33.4  52.1  54.7  48.5  85.7  76.2  61.6  40.0  50.8   87.8      N
997  66.0  53.6  45.4  56.1  54.6  53.1  22.6  21.8  48.8   73.2      Y
998  63.0  47.0  23.6  40.7  97.5  56.6  50.0  59.4  67.7   62.7      Y
999  48.6  52.4  24.2  48.9  56.6  25.5  45.4  50.9  66.7   72.1      Y

[1000 rows x 11 columns]

Great, this looks fine now!<br>

Let's overview the data, we can use `info()` here!

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   Cd_1        1000 non-null   float64
 2   Cd_2        1000 non-null   float64
 3   Cd_3        1000 non-null   float64
 4   Cd_4        1000 non-null   float64
 5   Cd_5        1000 non-null   float64
 6   Cd_6        1000 non-null   float64
 7   Cd_7        1000 non-null   float64
 8   Cd_8        1000 non-null   float64
 9   Cd_9        1000 non-null   float64
 10  Cd_10       1000 non-null   float64
 11  Result      1000 non-null   object
dtypes: float64(10), int64(1), object(1)
memory usage: 93.9+ KB

Let's split the data so that we can fit the `scaler` to the features only!

In [6]:
#features and results/target
target = df['Result']
features = df.drop('Result',axis=1)

In [7]:
features

     Unnamed: 0  Cd_1  Cd_2  Cd_3  Cd_4  Cd_5  Cd_6  Cd_7  Cd_8  Cd_9  Cd_10
0             1  53.1  63.4  33.0  46.2  47.3  21.2  44.3  36.1  46.6   65.0
1             2  36.9  54.7  31.1  50.5  56.0  38.9  39.4  56.8  33.0   78.8
2             3  41.9  65.5  53.5  52.3  92.5  43.2  94.9  64.7  50.8   67.9
3             4  71.7  75.6  37.9  50.5  69.2  52.5  82.3  77.3  80.8   60.9
4             5  74.3  51.8  36.4  40.9  74.7  42.2  65.1  36.2  77.6   74.9
..          ...   ...   ...   ...   ...   ...   ...   ...   ...   ...    ...
995         996  58.7  56.4  49.5  38.1  62.8  35.2  43.6  17.9  59.3   71.2
996         997  33.4  52.1  54.7  48.5  85.7  76.2  61.6  40.0  50.8   87.8
997         998  66.0  53.6  45.4  56.1  54.6  53.1  22.6  21.8  48.8   73.2
998         999  63.0  47.0  23.6  40.7  97.5  56.6  50.0  59.4  67.7   62.7
999        1000  48.6  52.4  24.2  48.9  56.6  25.5  45.4  50.9  66.7   72.1

[1000 rows x 11 columns]

In [8]:
target

0      Y
1      N
2      N
3      Y
4      Y
      ..
995    Y
996    N
997    Y
998    Y
999    Y
Name: Result, Length: 1000, dtype: object

Let's fit `scaler` to the features now!

In [9]:
# Importing
from sklearn.preprocessing import StandardScaler
# Creating instance 'scaler'
scaler = StandardScaler()

In [10]:
# We can do this in a one line as well!
#scaler.fit(df.drop('Result',axis=1))
scaler.fit(features)

StandardScaler()

So, we have the fitted features to the `scaler` object. We will use this `scaler` object to transform all the features using `.transform()` method in `Scikit-learn` to do the `standardization` job by centering and scaling.<br>
Let's pass the features to `scaler.transform()` to get standardized features in `scaled_features`!

In [11]:
scaled_features = scaler.transform(features)

In [12]:
type(scaled_features)

numpy.ndarray

In [13]:
scaled_features

array([[-1.73031962, -0.12252539,  0.1875694 , ..., -1.48006982,
        -0.95256187, -0.64536551],
       [-1.72685552, -1.08602779, -0.43340316, ..., -0.20055606,
        -1.82621843,  0.6351032 ],
       [-1.72339142, -0.78865051,  0.33745933, ...,  0.28776079,
        -0.68275617, -0.3762815 ],
       ...,
       [ 1.72339142,  0.64470801, -0.51191693, ..., -2.36398512,
        -0.81123508,  0.11549271],
       [ 1.72685552,  0.46628164, -0.98299956, ..., -0.03984418,
         0.40289057, -0.85877696],
       [ 1.73031962, -0.39016495, -0.59756832, ..., -0.56524838,
         0.33865112,  0.01342636]])

`scaled_features` is a NumPy array, Let's convert this into the pandas `DataFrame`!<br>
We can use our `df.columns` to get the columns name and pass that to `DatFrame()` along with `scaled_features`, note we don't need `Results` column, [:-1] will work *(everything but the last one)*!

In [14]:
#Before Scaling
df

,Unnamed: 0,Cd_1,Cd_2,Cd_3,Cd_4,Cd_5,Cd_6,Cd_7,Cd_8,Cd_9,Cd_10,Result
0,1,53.1,63.4,33.0,46.2,47.3,21.2,44.3,36.1,46.6,65.0,Y
1,2,36.9,54.7,31.1,50.5,56.0,38.9,39.4,56.8,33.0,78.8,N
2,3,41.9,65.5,53.5,52.3,92.5,43.2,94.9,64.7,50.8,67.9,N
3,4,71.7,75.6,37.9,50.5,69.2,52.5,82.3,77.3,80.8,60.9,Y
4,5,74.3,51.8,36.4,40.9,74.7,42.2,65.1,36.2,77.6,74.9,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,58.7,56.4,49.5,38.1,62.8,35.2,43.6,17.9,59.3,71.2,Y
996,997,33.4,52.1,54.7,48.5,85.7,76.2,61.6,40.0,50.8,87.8,N
997,998,66.0,53.6,45.4,56.1,54.6,53.1,22.6,21.8,48.8,73.2,Y
998,999,63.0,47.0,23.6,40.7,97.5,56.6,50.0,59.4,67.7,62.7,Y
999,1000,48.6,52.4,24.2,48.9,56.6,25.5,45.4,50.9,66.7,72.1,Y

In [15]:
cols = df.columns[:-1]
cols

Index(['Unnamed: 0', 'Cd_1', 'Cd_2', 'Cd_3', 'Cd_4', 'Cd_5', 'Cd_6', 'Cd_7',
       'Cd_8', 'Cd_9', 'Cd_10'],
      dtype='object')

In [16]:
#After Scaling
df_scaled_features = pd.DataFrame(scaled_features, columns=cols)#df.columns[:-1])
df_scaled_features

,Unnamed: 0,Cd_1,Cd_2,Cd_3,Cd_4,Cd_5,Cd_6,Cd_7,Cd_8,Cd_9,Cd_10
0,-1.730320,-0.122525,0.187569,-0.911832,0.318653,-1.035516,-2.305940,-0.801865,-1.480070,-0.952562,-0.645366
1,-1.726856,-1.086028,-0.433403,-1.024151,0.624941,-0.445471,-1.153296,-1.131088,-0.200556,-1.826218,0.635103
2,-1.723391,-0.788651,0.337459,0.300034,0.753154,2.030007,-0.873275,2.597862,0.287761,-0.682756,-0.376282
3,-1.719927,0.983718,1.058359,-0.622166,0.624941,0.449771,-0.267648,1.751290,1.066595,1.244427,-1.025795
4,-1.716463,1.138354,-0.640394,-0.710839,-0.058864,0.822788,-0.938396,0.595651,-1.473889,1.038861,0.273232
...,...,...,...,...,...,...,...,...,...,...,...
995,1.716463,0.210537,-0.312064,0.063573,-0.258307,0.015714,-1.394244,-0.848897,-2.605053,-0.136721,-0.070082
996,1.719927,-1.294192,-0.618981,0.370973,0.482481,1.568822,1.275723,0.360492,-1.239002,-0.682756,1.470191
997,1.723391,0.644708,-0.511917,-0.178801,1.023827,-0.540420,-0.228575,-2.259851,-2.363985,-0.811235,0.115493
998,1.726856,0.466282,-0.983000,-1.467517,-0.073110,2.369113,-0.000651,-0.418892,-0.039844,0.402891,-0.858777
999,1.730320,-0.390165,-0.597568,-1.432048,0.510973,-0.404778,-2.025919,-0.727958,-0.565248,0.338651,0.013426

<br>Our data is ready for the Machine Learning part now!
## Let's do the train_test split 
I am sure, you are very comfortable with this now!

In [17]:
from sklearn.model_selection import train_test_split

In [19]:
X = df_scaled_features
y = target

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)  #, random_state=2

In [20]:
X_train

,Unnamed: 0,Cd_1,Cd_2,Cd_3,Cd_4,Cd_5,Cd_6,Cd_7,Cd_8,Cd_9,Cd_10
963,1.605612,0.609023,1.144010,-0.042835,-1.184293,-1.503483,0.142615,0.125333,-0.453986,0.820447,0.199002
573,0.254612,-1.175241,1.094047,-1.284259,0.667678,-0.486163,1.751108,1.469099,0.349573,-0.997529,-0.682481
124,-1.300771,-1.520199,-0.097935,-0.350235,0.012365,0.537938,-0.052748,0.293304,0.127049,-2.558548,0.328904
663,0.566381,1.334623,-0.547605,-0.297031,-0.343783,-0.513292,-0.345793,0.595651,-0.639423,0.030302,1.952687
910,1.422014,-0.176053,-1.404119,-0.817247,0.888490,-0.431906,-1.081662,0.461275,0.133230,0.711240,1.618652
...,...,...,...,...,...,...,...,...,...,...,...
101,-1.380445,0.162957,0.351735,-0.302943,-1.162924,0.598977,0.787315,-0.721239,1.276757,0.396467,0.301068
84,-1.439335,-0.497221,-0.190724,0.495115,-2.295476,0.110664,-0.697448,1.160033,0.881158,-0.355135,-2.241312
565,0.226899,-0.443693,-0.033697,-1.160117,-0.073110,0.368385,2.024617,-0.674208,-0.157287,-0.759844,0.969139
587,0.303109,-0.538854,0.508762,0.518762,-1.540441,1.250062,1.848790,-0.042638,0.856434,-0.207384,-0.728874
797,1.030571,-0.955182,1.415239,0.607435,0.311530,-0.167403,0.012373,1.260815,-0.985572,-1.794099,1.080484

In [21]:
y_train

963    Y
573    N
124    N
663    Y
910    Y
      ..
101    N
84     N
565    N
587    N
797    N
Name: Result, Length: 700, dtype: object

## KNN
Our focus is to come up with a model that can predict the class in `Result` for the new data point. We don't know what k number will work best, let's start with k = 1 at the moment. <br>
We need to import the `KNeighborsClassifier` from `sklearn.neighbors`.

In [31]:
from sklearn.neighbors import KNeighborsClassifier

Let's Create a KNN model instance with n_neighbors=1

In [32]:
knn = KNeighborsClassifier(n_neighbors=3) 
#shift+tab to see the other options, we will only use n_neighbors

Let's fit this model to the training data, You know this all now!

In [33]:
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

Let's do the predictions now!

In [34]:
predictions = knn.predict(X_test)
predictions

array(['N', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'N',
       'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N',
       'N', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'N',
       'N', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'Y', 'N',
       'N', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'N',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'N', 'Y',
       'N', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N',
       'Y', 'N', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'N',
       'Y', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'N',
       'Y', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'N',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N',
       'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y',
       'N', 'Y', 'N', 'N', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y',
       'N', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'N', 'Y', 'N',
       'N'], dtype=object)

In [35]:
knn.score(X_test, y_test)

0.91

In [38]:
knn.predict([[1.605612, -1.122525, 0.287569, -0.911832, -0.318653, -0.035516, -0.105940, -0.801865, -1.480070, -0.952562, 2.645366]])

array(['N'], dtype=object)

## Evaluation
As we already know, the evaluation is very important to know if the model is working fine or not! <br>
Let's see how the confusion matrix and classification report look like!

In [27]:
from sklearn.metrics import classification_report,confusion_matrix

In [28]:

print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           N       0.95      0.94      0.94       154
           Y       0.93      0.95      0.94       146

    accuracy                           0.94       300
   macro avg       0.94      0.94      0.94       300
weighted avg       0.94      0.94      0.94       300

So, it was worth finding the optimum value for k, our model is performing better. 
## Great Job!
Let's move on to the project exercise now to practice the skills in knn!